rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /briefings/{briefingId} {
      allow create: if true;
      allow read, update, delete: if true;
    }

    match /onboardings/{onboardingId} {
      allow create, read, update, delete: if true;
    }

    match /tarefas/{docId} {
      allow read, write: if docId == 'estado_principal';
    }

    match /painel_financeiro/{docId} {
      allow read, write: if docId == 'estado_principal';
    }
  }
}
